* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
    background-color: rgb(153, 0, 255);
}

header {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#editor {
    height: 500px;
    width: 100%;
}

main {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#btns-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

#btns-mobile button {
    padding: 10px;
    background-color: #1f1f1f;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media screen and (max-width: 768px) {
    #btns-mobile {
        display: flex;
    }

    main{
        padding: 2;
    }
}