*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
    background-color: rgb(153, 0, 255);
}

header{
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#editor{
    height: 500px; 
    width: 100%;
}

main{
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}